.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background-color: inherit;
  color: $blue;
}

.button--format {
  font-size: 2.5rem;
  margin-left: $s-size;
  background-color: inherit;
  padding: 0.6rem;
  color: $grey;
  border: none;
  outline: none;
  &:hover{
    color: $blue;
  }
  &.active{
    color: $blue;
  }
}
