.header {
  background: linear-gradient(to bottom right, $blue , $light-blue);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  position: relative;
  z-index: 10;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-family: $just-another-hand;
    letter-spacing: 0.3rem;
    font-weight: normal;
    font-size: 4.0rem;
  }
}

.header__username {
  color: white;
  padding-right: $s-size;
}


.header__right-nav {
  display: flex;
  align-items: center;
}
