.header {
  background: linear-gradient(to bottom right, $blue , $light-blue);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  position: relative;
  z-index: 10;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  @media (max-width: $desktop-breakpoint) {
    flex-flow: column;
    align-items: flex-start;
  }
}

.header_content--top {
  padding: $m-size;
}

.header_content--bottom {
  background: linear-gradient(to bottom right, $blue , $light-blue);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px $m-size ;
  box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    margin-right: $m-size;
    font-family: $just-another-hand;
    letter-spacing: 0.3rem;
    font-weight: normal;
    font-size: 4.0rem;
    white-space: nowrap;
  };
}

.header__username {
  color: white;
  padding-right: $s-size;
}

.header__right-nav, .header__left-nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.header__left-nav {
  justify-content: flex-start;
}

.header__right-nav {
  justify-content: flex-end;
}


.header__link {
  color: lighten($blue, 32%);
  padding: 0 0.8rem;
  font-size: $font-size-large;
  text-decoration: none;
  &:hover {
    color: white;
  }
}
